#greenSquare{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: green;
}

#blueSquare{
    width: 300px;
    vertical-align: middle;
    margin: auto;
    background-color: blue;
}


#message{
    background-color: coral;
}

#end{
    background-color: darkcyan;
}
